<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <style>
        @page {
            size: {{ page_size }} {{ orientation | lower }};
        {% if  orientation == "PORTRAIT" %}
            margin-top: {{ margin_top }}mm;
            margin-bottom: {{ margin_bottom }}mm;
            margin-left: {{ margin_left }}mm;
            margin-right: {{ margin_right }}mm;
        {% else %}
            margin-top: {{ margin_right }}mm;
            margin-bottom: {{ margin_left }}mm;
            margin-left: {{ margin_top }}mm;
            margin-right: {{ margin_bottom }}mm;
        {% endif %}
        }

        img.full-page {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
{% for image in images %}
    <img src="data:image/png;base64, {{ image }}" class="full-page" alt="Page {{ loop.index }}">
{% endfor %}
</body>
</html>